<!-- <div id="review-full">
  <div class="t-with-img">
      <div class="title">
        <h3>Album 1</h3>
        <p>2/3</p>
      </div>

      <img src="http://localhost:4205/assets/imgs/soenalbum1.jpg" alt="Album1">
  </div>


  <div class="text">
    <p>This is a review of the album, there is some text that the user wrote, and can be a lot. This is a review of the album, there is some text that the user wrote, and can be a lot. This is a review of the album, there is some text that the user wrote, and can be a lot</p>
  </div>
</div>
 -->

<div class="" id="review-full">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Album 1</mat-card-title>
        <mat-card-subtitle>2/3</mat-card-subtitle>
        <img mat-card-md-image src="http://assets-app.localhost/assets/imgs/soenalbum1.jpg"
          alt="Album image">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      This is a review of the album, there is some text that the user wrote, and can be a lot. This is a review of the album,
      there is some text that the user wrote, and can be a lot. This is a review of the album, there is some text that the
      user wrote, and can be a lot
    </mat-card-content>
  </mat-card>
</div>
