<div class="backdrop" (click)="onClose()"></div>
<mat-card class="alert-box">
    <p>{{ message }}</p>
    <div class="alert-box-actions">
        <button mat-raised-button (click)="onClose()" class="secondary-btn">Close</button>
    </div>
</mat-card>