
<div id="auth">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" fxLayout="column" fxLayoutGap="10px">
    <h1>Authentication</h1>
      <mat-form-field appearance="outline">
      <input matInput type="email" id="email" placeholder="E-mail" ngModel name="email" required email>

    </mat-form-field>
    @if(!isLoginMode){
        <mat-form-field appearance="outline">
        <input matInput type="text" id="name" placeholder="Nome" ngModel name="name" required>
      </mat-form-field>
    }


      <mat-form-field appearance="outline">
      <input matInput type="password" id="password" placeholder="Password" ngModel name="password" required
        minlength="6">
    </mat-form-field>

    <div class="btns">
      <button mat-raised-button color="accent" type="submit" [disabled]="!authForm.valid">
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
      </button>
      |
      <button mat-raised-button color="primary" (click)="onSwitchMode()" type="button">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
      </button>
    </div>

  </form>
</div>

