
<div id="reviews-home">
    <app-review-item [album]="album1" (click)="navigateToReview()"></app-review-item>
    <app-review-item [album]="album2" (click)="navigateToReview()"></app-review-item>
</div>
