<mat-tab-group color="warn">
    <mat-tab label="FRONTENDS" class="custom-tab">
      <ng-template matTabContent>
        <app-admin-apps></app-admin-apps>
      </ng-template>
    </mat-tab>
    <mat-tab label="APIS" class="custom-tab">
      <ng-template matTabContent>
        <app-admin-apis></app-admin-apis>
      </ng-template>
    </mat-tab>
    <mat-tab label="PERMISSIONS" class="custom-tab">
      <ng-template matTabContent>
        <app-admin-permissions></app-admin-permissions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  