<mat-drawer-container id="sidebar-section">
  <mat-drawer #drawer class="draw-class" mode="side">
    <mat-nav-list class="drawer-class">
      <mat-list-item>
        <a mat-stroked-button color="warn" routerLink="/auth" [routerLinkActive]="['active']"
          >Authentication</a>
      </mat-list-item>
      <!-- @if(activeUser){ -->
      <mat-list-item>
        <a mat-stroked-button color="warn" routerLink="/profile" [routerLinkActive]="['active']"
          >Profile</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-stroked-button class="btns" color="warn" routerLink="/review" [routerLinkActive]="['active']"
          >Reviews</a>
      </mat-list-item>
      <!-- } -->

      <app-theme-selector></app-theme-selector>


    </mat-nav-list>

  </mat-drawer>

  <div class="drawer-class">
    <button type="button" mat-raised-button class="button-style" color="primary" (click)="drawer.toggle()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</mat-drawer-container>
