<mat-toolbar id="header-section">

  <div class="title">
    <i class="fa-brands fa-angular"></i>
    <h3>Arquitecturas para Micro Frontends em Angular Demo</h3>
  </div>
  <div class="user-img ">
    @if((activeUser)){

    <button mat-raised-button color="accent" (click)="navigateToPage('/profile')">
      {{activeUser.name}}
    </button>

    }
    <img src="http://assets-app.localhost/assets/imgs/BorderLogo.png" alt="image">
  </div>
</mat-toolbar>
