<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Custom</button>
  <button mat-menu-item>deeppurple-amber</button>
  <button mat-menu-item>indigo-pink</button>
  <button mat-menu-item>pink-bluegrey</button>
  <button mat-menu-item>purple-green</button>
</mat-menu>
 -->


<mat-form-field>
  <mat-label>Theme</mat-label>
  <mat-select (selectionChange)="onThemeChange($event)">
    @for (theme of themes; track theme) {
    <mat-option [value]="theme.name">{{theme.displayName}}</mat-option>
    }
  </mat-select>
</mat-form-field>
