<p>All services must specify or inherit an Internal ACL.</p>

<p>Public services must have an ACL specified to them, which should
	have it's name equal to the name of the service.</p>

<p>If the service is non-public, then it must inherit an Internal
	ACL.</p>

<h1>Recommended Secure Coding Practices</h1>

<p>For public services defining a specific ACL:</p>

<pre>
 Replace the "." and ":" characters with the "_" character.
 -Ex:. root._pub.package:service should have ACL named root_pub_package_service 
</pre>