<p>Wrappers can only invoke utility, adapters or consumer services</p>

<p>Wrappers that are located in these packages are not acceptable.</p>

<H2>Acceptable Solutions</H2>

<pre>
 resource.*:*
 </pre>

<pre>
 pub.flow.*:*
</pre>

<pre>
 dictionary.*:*
</pre>

<pre>
 wmextension.exceptionHandling.service:exceptionHandler
</pre>