<p>
  SOAP Services must declare a variable named status in their outputs.
</p>

<p>
 status must be of type Document or Document Reference.
</p>

<p>
 Inside status, it must declared the variables errorCode, errorMsg, errorInstanceId, errorDump and errorOwner.
</p>

<p>
 These variables must be of type String.
</p>