
<mat-card class="center-card">
  <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Application</mat-label>
      <mat-select formControlName="selectedApp">
        <mat-option *ngFor="let app of applications" [value]="app.endpoint">
          {{ app.appName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" class="full-width button-margin main-btn">Go</button>
      <button *ngIf="isAdminUser" mat-raised-button color="accent" type="button" class="full-width button-margin secondary-btn" (click)="loadAdminPage()">Admin</button>
    </div>
  </form>
</mat-card>