  
  .button-margin {
    margin-top: 10px; /* Adjust as needed */
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .button-margin {
    margin-top: 10px;
  }
  