:root {
  --md-source: #da5c58;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #410004;
  --md-ref-palette-primary20: #67040d;
  --md-ref-palette-primary25: #771217;
  --md-ref-palette-primary30: #871f21;
  --md-ref-palette-primary35: #972b2b;
  --md-ref-palette-primary40: #a83736;
  --md-ref-palette-primary50: #c84f4c;
  --md-ref-palette-primary60: #e96863;
  --md-ref-palette-primary70: #ff8983;
  --md-ref-palette-primary80: #ffb3ae;
  --md-ref-palette-primary90: #ffdad7;
  --md-ref-palette-primary95: #ffedeb;
  --md-ref-palette-primary98: #fff8f7;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #001f24;
  --md-ref-palette-secondary20: #00363d;
  --md-ref-palette-secondary25: #00424a;
  --md-ref-palette-secondary30: #004f58;
  --md-ref-palette-secondary35: #005b66;
  --md-ref-palette-secondary40: #006874;
  --md-ref-palette-secondary50: #008391;
  --md-ref-palette-secondary60: #00a0b0;
  --md-ref-palette-secondary70: #22bccf;
  --md-ref-palette-secondary80: #4fd8eb;
  --md-ref-palette-secondary90: #97f0ff;
  --md-ref-palette-secondary95: #d0f8ff;
  --md-ref-palette-secondary98: #edfcff;
  --md-ref-palette-secondary99: #f6feff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #410003;
  --md-ref-palette-tertiary20: #680007;
  --md-ref-palette-tertiary25: #7d000b;
  --md-ref-palette-tertiary30: #910812;
  --md-ref-palette-tertiary35: #a2191c;
  --md-ref-palette-tertiary40: #b42726;
  --md-ref-palette-tertiary50: #d6413b;
  --md-ref-palette-tertiary60: #f95a52;
  --md-ref-palette-tertiary70: #ff897f;
  --md-ref-palette-tertiary80: #ffb4ac;
  --md-ref-palette-tertiary90: #ffdad6;
  --md-ref-palette-tertiary95: #ffedeb;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #201a1a;
  --md-ref-palette-neutral20: #362f2e;
  --md-ref-palette-neutral25: #413a39;
  --md-ref-palette-neutral30: #4d4544;
  --md-ref-palette-neutral35: #595050;
  --md-ref-palette-neutral40: #655c5b;
  --md-ref-palette-neutral50: #7f7574;
  --md-ref-palette-neutral60: #998e8d;
  --md-ref-palette-neutral70: #b4a9a7;
  --md-ref-palette-neutral80: #d0c4c2;
  --md-ref-palette-neutral90: #ede0de;
  --md-ref-palette-neutral95: #fbeeec;
  --md-ref-palette-neutral98: #fff8f7;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #251918;
  --md-ref-palette-neutral-variant20: #3b2d2c;
  --md-ref-palette-neutral-variant25: #473837;
  --md-ref-palette-neutral-variant30: #534342;
  --md-ref-palette-neutral-variant35: #5f4f4d;
  --md-ref-palette-neutral-variant40: #6b5a59;
  --md-ref-palette-neutral-variant50: #857371;
  --md-ref-palette-neutral-variant60: #a08c8b;
  --md-ref-palette-neutral-variant70: #bba6a5;
  --md-ref-palette-neutral-variant80: #d8c2c0;
  --md-ref-palette-neutral-variant90: #f5dddb;
  --md-ref-palette-neutral-variant95: #ffedeb;
  --md-ref-palette-neutral-variant98: #fff8f7;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #a83736;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdad7;
  --md-sys-color-on-primary-container-light: #410004;
  --md-sys-color-secondary-light: #006874;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #97f0ff;
  --md-sys-color-on-secondary-container-light: #001f24;
  --md-sys-color-tertiary-light: #b42726;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdad6;
  --md-sys-color-on-tertiary-container-light: #410003;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a1a;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #201a1a;
  --md-sys-color-surface-variant-light: #f5dddb;
  --md-sys-color-on-surface-variant-light: #534342;
  --md-sys-color-outline-light: #857371;
  --md-sys-color-inverse-on-surface-light: #fbeeec;
  --md-sys-color-inverse-surface-light: #362f2e;
  --md-sys-color-inverse-primary-light: #ffb3ae;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #a83736;
  --md-sys-color-outline-variant-light: #d8c2c0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #ffb3ae;
  --md-sys-color-on-primary-dark: #67040d;
  --md-sys-color-primary-container-dark: #871f21;
  --md-sys-color-on-primary-container-dark: #ffdad7;
  --md-sys-color-secondary-dark: #4fd8eb;
  --md-sys-color-on-secondary-dark: #00363d;
  --md-sys-color-secondary-container-dark: #004f58;
  --md-sys-color-on-secondary-container-dark: #97f0ff;
  --md-sys-color-tertiary-dark: #ffb4ac;
  --md-sys-color-on-tertiary-dark: #680007;
  --md-sys-color-tertiary-container-dark: #910812;
  --md-sys-color-on-tertiary-container-dark: #ffdad6;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a1a;
  --md-sys-color-on-background-dark: #ede0de;
  --md-sys-color-surface-dark: #201a1a;
  --md-sys-color-on-surface-dark: #ede0de;
  --md-sys-color-surface-variant-dark: #534342;
  --md-sys-color-on-surface-variant-dark: #d8c2c0;
  --md-sys-color-outline-dark: #a08c8b;
  --md-sys-color-inverse-on-surface-dark: #201a1a;
  --md-sys-color-inverse-surface-dark: #ede0de;
  --md-sys-color-inverse-primary-dark: #a83736;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb3ae;
  --md-sys-color-outline-variant-dark: #534342;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
