<mat-drawer-container id="sidebar-section">
  <mat-drawer #drawer class="draw-class" mode="side">
    <mat-nav-list class="drawer-class">
      <mat-list-item>
        <button mat-stroked-button color="warn" (click)="navigateToPage('/auth')" routerLink="/auth" [routerLinkActive]="['active']">Authentication</button>
      </mat-list-item>
      <!-- @if(activeUser){ -->
      <mat-list-item>

        <button mat-stroked-button color="warn" (click)="navigateToPage('/profile')" routerLink="/profile" [routerLinkActive]="['active']">Profile</button>

      </mat-list-item>
      <mat-list-item>
        <button mat-stroked-button color="warn" (click)="navigateToPage('/reviews/home-reviews')" routerLink="/reviews/home-reviews" [routerLinkActive]="['active']">
          Reviews</button>
      </mat-list-item>
      <!-- } -->

      <app-theme-selector></app-theme-selector>


    </mat-nav-list>

  </mat-drawer>

  <div class="drawer-class">
    <button type="button" mat-raised-button class="button-style" color="primary" (click)="drawer.toggle()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</mat-drawer-container>
