<div class="main-container">
    <!-- PAGE TITLE -->
    <div class="title-toolbar">
        <h1 class="main-color-class"><span>FrontEnd Manager</span></h1>
    </div>
    <!-- CREATE FORMS -->
    <div class="form-container">
      <form [formGroup]="createAppForm" class="form-row" (ngSubmit)="onSubmit()">
        <mat-form-field class="flex-item">
          <input matInput placeholder="App Name" formControlName="appName" required>
        </mat-form-field>
        <mat-form-field class="flex-item">
          <input matInput placeholder="Endpoint" formControlName="endpoint" required>
        </mat-form-field>
        <mat-form-field class="flex-item">
          <input matInput placeholder="Role" formControlName="role" required>
        </mat-form-field>
        <button mat-raised-button type="submit" class="flex-item main-btn" >CREATE</button>
      </form>
    </div>
    <!-- LIST TITLE -->
    <div class="title-toolbar">
        <h1 class="main-color-class">FrontEnd List</h1>
    </div>
    <!-- TABLE -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 apps-table">

        <form [formGroup]="editAppForm" class="form-row" (ngSubmit)="onSubmit()">
            <!-- App Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="bold-header" > APP </th>
                <td mat-cell *matCellDef="let app">
                <div *ngIf="!app.isEdit">{{ app.appName }}</div>
                <mat-form-field class="flex-item" *ngIf="app.isEdit">
                    <input matInput formControlName="appName" [(ngModel)]="app.appName">
                </mat-form-field>
                </td>
            </ng-container>

            <!-- Endpoint Column -->
            <ng-container matColumnDef="endpoint">
                <th mat-header-cell *matHeaderCellDef class="bold-header" > ENDPOINT </th>
                <td mat-cell *matCellDef="let app">
                <div *ngIf="!app.isEdit">{{ app.endpoint }}</div>
                <mat-form-field class="flex-item" *ngIf="app.isEdit">
                    <input matInput formControlName="endpoint" [(ngModel)]="app.endpoint">
                </mat-form-field>
                </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef class="bold-header" > ROLE </th>
                <td mat-cell *matCellDef="let app">
                <div *ngIf="!app.isEdit">{{ app.role }}</div>
                <mat-form-field class="flex-item" *ngIf="app.isEdit">
                    <input matInput formControlName="role" [(ngModel)]="app.role">
                </mat-form-field>
                </td>
            </ng-container>

            
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="bold-header" > ACTIONS </th>
                <td mat-cell *matCellDef="let app">
                <div>
                    <button mat-button class="secondary-btn button-table" (click)="editApp(app)">
                    {{ app.isEdit ? 'Save' : 'Edit' }}
                    </button>
                    <button mat-button class="main-btn button-table" 
                        *ngIf="!app.isEdit" 
                        (click)="removeApp(app)">
                        Delete
                    </button>
                    <button mat-button class="main-btn button-table" 
                        *ngIf="app.isEdit" 
                        (click)="cancelEdit(app)">
                        Cancel
                    </button>
                </div>
                </td>
            </ng-container>
        </form>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </div>
  