
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-auth *ngIf="!isAuthenticated"></app-auth>
        <app-router *ngIf="isAuthenticated"></app-router>
      </div>
    </div>
  </div>