<div class="loading-icon-size">
  <mat-spinner [color] = "'warn'" class="centered-spinner" *ngIf="loadingResults"></mat-spinner>
</div>


<div class="container-grid">
  <div class="form-size">
    <mat-form-field class="form-full-width">
      <input
        name="system"
        type="text"
        placeholder="System"
        aria-label="System"
        matInput
        [formControl]="systemsControl"
        [matAutocomplete]="auto"
      />
      <mat-hint align="start"
        ><strong>The system which the key refers to</strong>
      </mat-hint>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let system of filteredSystems | async"
          [value]="system"
        >
          {{ system }}
        </mat-option>
      </mat-autocomplete>
      <button
        mat-button
        *ngIf="systemsControl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetSystemInput()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input
        matInput
        type="text"
        autocomplete="off"
        placeholder="Resource"
        [(ngModel)]="resource"
      />
      <mat-hint align="start"
        ><strong>The key name, something like TT.Fields.VLAN</strong>
      </mat-hint>
      <button
        mat-button
        *ngIf="resource"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resource = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <textarea
        matInput
        autocomplete="off"
        placeholder="Value"
        [(ngModel)]="value"
      ></textarea>
      <mat-hint align="start"><strong>The key's value</strong> </mat-hint>
      <button
        mat-button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button (click)="search()" *ngIf="!editMode">
        <mat-icon>search</mat-icon> Search
      </button>
      <button mat-raised-button (click)="add()" *ngIf="!editMode">
        <mat-icon>add</mat-icon> Add
      </button>
      <button mat-raised-button (click)="cancelEdit()" *ngIf="editMode">
        <mat-icon>clear</mat-icon> Cancel
      </button>
      <button
        mat-raised-button
        (click)="saveEdit()"
        color="primary"
        *ngIf="editMode"
      >
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
  </div>

    <div  class="table-size" *ngIf="dataSource.data && dataSource.data.length > 0">

      <table
      mat-table

      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button matSuffix mat-icon-button (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- System Column -->
      <ng-container matColumnDef="system">
        <th mat-header-cell *matHeaderCellDef>System</th>
        <td mat-cell *matCellDef="let element">{{ element.system }}</td>
      </ng-container>

      <!-- Resource Column -->
      <ng-container matColumnDef="resource">
        <th mat-header-cell *matHeaderCellDef>Resource</th>
        <td mat-cell *matCellDef="let element">{{ element.resource }}</td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.value.length > 300
              ? element.value.substring(0, 100) + ' (...)'
              : element.value
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="table-bottom-opt">



    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      [length]="100"
      [pageSize]="10"
      aria-label="Select page of periodic elements"

      >
      </mat-paginator>

      <button
      mat-raised-button
      *ngIf="selection.selected.length > 0"
      (click)="delete()"

    >
      <mat-icon>delete</mat-icon> Delete
    </button>

    </div>

    </div>

</div>
<br />
