
.container-grid{
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto;
  column-gap: 5%;
  zoom: 100%;

}

.table-bottom-opt{
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: white;
}



@media (max-width: 1300px) {
  ::ng-deep .cdk-overlay-pane{
    bottom: 120px !important;
  }
}





.table-size{
  grid-column-start: 2;
  grid-column-end: 3;

  min-width: 800px;
  /*height: 80%;
  width: 100%;*/
  max-width: 100%;

}


.form-size {
  /*min-width: 400px;*/
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.loading-icon-size {
  width: 100%;
  position:fixed;
  margin: auto;

}

.form-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.form-full-width {
  width: 100%;
  margin-bottom: 3%;
}

table {
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-column-systemName,
.mat-column-resourceName {
  padding: 15px 12px 15px 12px;
}

.mat-column-select {
  padding: 15px;
}

.mat-column-edit {
  padding-right: 0px;
}

.mat-column-resourceValue {
  padding: 15px 12px 15px 12px;
  word-break: break-all;
}

.centered-spinner {
  margin: 5% auto;

}

::ng-deep .mat-spinner circle {
  stroke: #d43f3a !important; }

.mat-column-edit,
.mat-column-select {
  width: 1%;
  white-space: nowrap;
}

td.mat-cell:first-of-type {
  padding-left: 12px;
}

.mat-raised-button {
  background-color:#d43f3a;
  color:white;
}

