/* You can add global styles to this file, and also import other style files */

body { 
    font-family: Roboto, Arial, sans-serif;
}

.main-back-color-class {
    background-color: rgb(235, 52, 52) !important;
}

.main-btn {
    background-color: rgb(235, 52, 52) !important;
    color: white !important;
}


.main-color-class {
    color: rgb(235, 52, 52) !important;
    //color: warn !important;
}

.secondary-btn {
    background-color: rgb(202, 199, 200) !important;
    color: white !important;
}

.center-card {
    margin: auto;
    max-width: 400px; /* Adjust as needed */
    background-color: rgb(243, 241, 241);
    padding: 20px;
    border-radius: 0.5rem;
     margin-top: 50px; 
    display: flex;
    /* justify-content: center; 
    align-items: center; */
  }

  .error-card {
    margin: 10px;
    padding: 16px;
    color: #ffebee !important; 
    background-color: #f0766e !important; /* Light red background */
  }