/** VDF font */
@font-face {
	font-family: 'OssCool';
	src: url('/assets/fonts/vodafone_xb.eot');
	src: url('/assets/fonts/vodafone_xb.eot?#iefix') format('embedde-opentype'),
		url('/assets/fonts/vodafone_xb.woff') format('woff'),
		url('/assets/fonts/vodafone_xb.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'OssFont';
	src: url('/assets/fonts/vodafone/VodafoneRg.woff') format('woff');
	font-weight: normal;
	/* font-style: normal; */
}

@font-face {
	font-family: 'OssFont';
	src: url('/assets/fonts/vodafone/VodafoneRgBd.woff') format('woff');
	font-weight: bold;
	/* font-style: normal; */
}

