<app-wrapper-header ></app-wrapper-header>
<div id="shell-section">
  <div class="container">
    <app-sidebar #sidebar ></app-sidebar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
