
<ng-template appPlaceholder></ng-template>
      <mat-card class="center-card" >
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <!-- <app-alert *ngIf="error" [message]="error" (close)="onHandleError()"></app-alert> -->
          <!-- <mat-card  class="error-card">
            {{ error }}
          </mat-card> -->
          <form [formGroup]="logInForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="form-field">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input 
                  matInput 
                  type="text" 
                  placeholder="Enter username" 
                  formControlName="username"
                  required
                >
              </mat-form-field>
            </div>

            <div *ngIf="!isLoginMode" class="form-field">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                  matInput 
                  type="text" 
                  placeholder="Enter username" 
                  formControlName="email"
                  required
                  email
                >
              </mat-form-field>
            </div>

            <div *ngIf="!isLoginMode" class="form-field">
              <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input 
                  matInput 
                  type="text" 
                  placeholder="Enter full name" 
                  formControlName="fullName"
                  required
                >
              </mat-form-field>
            </div>

            <div class="form-field">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input 
                  matInput 
                  type="password" 
                  placeholder="Enter password" 
                  formControlName="password"
                  required
                >
              </mat-form-field>
            </div>
            <div class="button-container">
              <button mat-raised-button type="submit"class="btn main-btn">
                {{ isLoginMode ? 'Log In' : 'Sign up'}}
              </button>
              <button mat-raised-button type="button" class="btn secondary-btn" (click)="onSwitchMode()">
                Switch to {{ isLoginMode ? 'Sign up' : 'Log In'}}
              </button>
            </div>
          
          </form>
        
      </mat-card>

      
