<!-- <div class="mat-typography mat-app-background" id="review-item">

  <mat-card class="card ">
    <mat-card-header  class="mat-app-background">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Album 1</mat-card-title>
      <mat-card-subtitle>4/5</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://localhost:4205/assets/imgs/soenalbum1.jpg" alt="Album1">
    <mat-card-content class="mat-app-background">
      <p>
      Ver review do Album
      </p>
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <mat-card class="mdc-card" id="review-item">
  <div class="mdc-card__primary-action">
    <div class="mdc-card__media mdc-card__media--square">
      <div class="mdc-card__media-content"></div>
    </div>
  </div>
  <mat-card-content class="mdc-card__actions mat-app-background my-card-content" >
    <div class="mdc-card__action-buttons">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Album 1</span>
    </div>
    <div class="mdc-card__action-icons">
      <span class="mdc-button__label">Ver review do Album</span>
    </div>
  </mat-card-content>
</mat-card> -->



<div class="mdc-card mat-app-background" id="review-item">
  <div class="mdc-card__primary-action">
    <div class="mdc-card__media {{album?.path}} mdc-card__media--square">
      <div class="mdc-card__media-content"></div>
    </div>
    <div class="mdc-card__ripple"></div>
  </div>
  <div class="mdc-card__actions mat-app-background">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-card__action mdc-card__action--button mdc-theme--primary-bg">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">{{album?.name}}</span>
      </button>
      <button class="mdc-button mdc-card__action mdc-card__action--button mdc-theme--primary-bg">
        <div class="mdc-button__ripple"></div>
      </button>
    </div>
    <div class="mdc-card__action-icons">
      <span class="mdc-button__label mdc-theme--primary">Ver review do Album</span>
    </div>
  </div>
</div>

