<div class="main-container">
    <!-- PAGE TITLE -->
    <div class="title-toolbar">
        <h1 class="main-color-class"><span>Permissions Manager</span></h1>
    </div>
    <!-- CREATE FORMS -->
    <div class="form-container">
      <form [formGroup]="createPermissionForm" class="form-row" (ngSubmit)="onSubmit()">
        <mat-form-field class="flex-item">
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required
            [matAutocomplete]="auto"
            [ngClass]="{'no-match': noMatch}"
          >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredUsers" [value]="user.username">
              {{ user.username }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="flex-item">
          <input matInput placeholder="Role" formControlName="role" required>
        </mat-form-field>
        
        <button mat-raised-button type="submit" class="flex-item main-btn" >CREATE</button>
      </form>
    </div>
    <!-- LIST TITLE -->
    <div class="title-toolbar">
        <h1 class="main-color-class">Permissions List</h1>
    </div>
    <!-- TABLE -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 apps-table">

          <form [formGroup]="editPermissionForm" class="form-row" (ngSubmit)="onSubmit()">

            <!-- API Name Column -->
            <!-- <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="bold-header"> API NAME </th>
                <td mat-cell *matCellDef="let api"> {{api.name}} </td>
            </ng-container> -->

            <!-- Username Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef class="bold-header"> USERNAME </th>
              <td mat-cell *matCellDef="let permission">
                  <div *ngIf="!permission.isEdit">{{ permission.username }}</div>
                  <mat-form-field class="flex-item" *ngIf="permission.isEdit">
                      <input matInput formControlName="username" [(ngModel)]="permission.username">
                  </mat-form-field>
              </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef class="bold-header"> ROLE </th>
              <td mat-cell *matCellDef="let permission">
                  <div *ngIf="!permission.isEdit">{{ permission.role }}</div>
                  <mat-form-field class="flex-item" *ngIf="permission.isEdit">
                      <input matInput formControlName="role" [(ngModel)]="permission.role">
                  </mat-form-field>
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="bold-header" > ACTIONS </th>
              <td mat-cell *matCellDef="let permission">
              <div>
                  <!-- <button mat-button class="secondary-btn button-table" (click)="editPermission(permission)">
                  {{ permission.isEdit ? 'Save' : 'Edit' }}
                  </button> -->
                  <button mat-button class="main-btn button-table" 
                      *ngIf="!permission.isEdit" 
                      (click)="removePermission(permission)">
                      Delete
                  </button>
                  <button mat-button class="main-btn button-table" 
                      *ngIf="permission.isEdit" 
                      (click)="cancelEdit(permission)">
                      Cancel
                  </button>
              </div>
              </td>
          </ng-container>
      </form>


            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </div>
  