.main-container {
    margin: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  
  .form-row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px; /* Adjust the gap between elements as needed */
  }
  
  .flex-item {
    flex: 1; /* Makes the items grow to fill the available space */
    margin: 0 10px; /* Adds margin to the sides of each input box */
  }
  
  .mat-form-field {
    width: 100%;
  }

  .title-toolbar {
    margin: 10px;
    background-color: none;
    font-family: inherit; 
  }
  
  button {
    // margin-top: 16px;
    align-self: flex-start;
     max-width: 100px;
    height: 50px;
  }

  .button-table {
    // margin-top: 16px;
    margin: 5px;
  }


  .bold-header {
    font-weight: bold;
  }

  .apps-table {
    align-content: center;
    align-items: center;
  }
  
  