<div class="main-container">
    <!-- PAGE TITLE -->
    <div class="title-toolbar">
        <h1 class="main-color-class"><span>API Manager</span></h1>
    </div>
    <!-- CREATE FORMS -->
    <div class="form-container">
      <form [formGroup]="createAPIForm" class="form-row" (ngSubmit)="onSubmit()">
        <mat-form-field class="flex-item">
          <input matInput placeholder="Endpoint" formControlName="endpoint" required>
        </mat-form-field>
        <mat-form-field class="flex-item">
          <input matInput placeholder="Role" formControlName="role" required>
        </mat-form-field>
        <mat-form-field class="flex-item">
          <input matInput placeholder="HTTP Verb" formControlName="verb" required>
        </mat-form-field>
        <button mat-raised-button type="submit" class="flex-item main-btn" >CREATE</button>
      </form>
    </div>
    <!-- LIST TITLE -->
    <div class="title-toolbar">
        <h1 class="main-color-class">API List</h1>
    </div>
    <!-- TABLE -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 apps-table">

          <form [formGroup]="editAPIForm" class="form-row" (ngSubmit)="onSubmit()">

              <!-- API Name Column -->
              <!-- <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class="bold-header"> API NAME </th>
                  <td mat-cell *matCellDef="let api"> {{api.name}} </td>
              </ng-container> -->

              <!-- Endpoint Column -->
              <ng-container matColumnDef="endpoint">
                <th mat-header-cell *matHeaderCellDef class="bold-header"> ENDPOINT </th>
                <td mat-cell *matCellDef="let api">
                    <div *ngIf="!api.isEdit">{{ api.endpoint }}</div>
                    <mat-form-field class="flex-item button-table" *ngIf="api.isEdit">
                        <input matInput formControlName="endpoint" [(ngModel)]="api.endpoint">
                    </mat-form-field>
                </td>
              </ng-container>

              <!-- Role Column -->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef class="bold-header"> ROLE </th>
                <td mat-cell *matCellDef="let api">
                    <div *ngIf="!api.isEdit">{{ api.role }}</div>
                    <mat-form-field class="flex-item button-table" *ngIf="api.isEdit">
                        <input matInput formControlName="role" [(ngModel)]="api.role">
                    </mat-form-field>
                </td>
              </ng-container>

              <!-- HTTP Verb Column -->
              <ng-container matColumnDef="verb">
                <th mat-header-cell *matHeaderCellDef class="bold-header"> HTTP VERB </th>
                <td mat-cell *matCellDef="let api">
                    <div *ngIf="!api.isEdit">{{ api.verb }}</div>
                    <mat-form-field class="flex-item button-table" *ngIf="api.isEdit">
                        <input matInput formControlName="verb" [(ngModel)]="api.verb">
                    </mat-form-field>
                </td>
              </ng-container>

               <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="bold-header" > ACTIONS </th>
                <td mat-cell *matCellDef="let api">
                <div>
                    <button mat-button class="secondary-btn button-table" (click)="editAPI(api)">
                    {{ api.isEdit ? 'Save' : 'Edit' }}
                    </button>
                    <button mat-button class="main-btn button-table" 
                        *ngIf="!api.isEdit" 
                        (click)="removeAPI(api)">
                        Delete
                    </button>
                    <button mat-button class="main-btn button-table" 
                        *ngIf="api.isEdit" 
                        (click)="cancelEdit(api)">
                        Cancel
                    </button>
                </div>
                </td>
              </ng-container>
          </form>
            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
      </table>
    </div>
  </div>
  