/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 8px;
}

/*
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #bf3155;
}
*/

@media (max-width: 1300px) {
  body{
    font-family: Roboto, Arial, sans-serif;
    zoom: 80%;
  }

}



::ng-deep .mat-grid-tile .mat-figure {
  display: block !important;
}

.mat-header-cell {
  justify-content: center;
  background: #d43f3a;
  color: white;
  text-align: center !important;
  font-size: 14px;
}
.mat-sort-header-container {
  justify-content: center;
}

.mat-cell,
.mat-footer-cell {
  justify-content: center;
}

.mat-sort-header-arrow {
  height: 12px;
  width: 12px;
  min-width: 12px;
  position: relative;
  display: flex;
  opacity: 0;
  color: white !important;
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
.mat-cell {
  text-align: center;
  cursor: pointer;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  text-align: center !important;
}


.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mat-ink-bar {
  background-color: #d43f3a !important;
}


.mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.54); }

.mat-checkbox-checkmark {
  fill: #fafafa; }

.mat-checkbox-checkmark-path {
  stroke: #fafafa !important; }
  @media (-ms-high-contrast: black-on-white) {
    .mat-checkbox-checkmark-path {
      stroke: #000 !important; } }

.mat-checkbox-mixedmark {
  background-color: #fafafa; }

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #d43f3a; }


.mat-checkbox-disabled .mat-checkbox-label {
  color: rgba(0, 0, 0, 0.54); }
