<div id="profile-section">

  <mat-card class="info">
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="text">
        <div class="text-container">
          <h4>Nome</h4>
          <p>{{activeUser?.name}}</p>
        </div>

        <div class="text-container">
          <h4>Email</h4>
          <p>{{activeUser?.email}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <table-app></table-app>
</div>


