//auth.scss
#auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    // margin: 50px;
  }


}
