@use "./oss-theme.scss" as oss;
@use "@angular/material" as mat;

$border-color: mat.get-theme-color(oss.$oss-theme, primary, default);

#header-section {
  border-bottom: 1px solid $border-color;
  border-radius: 0 0 5px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100px;
  padding: 10px 20px;
  margin: 5px;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    width: auto;
    height: 50px;
  }

  i {
    font-size: 50px;
    color: red;
    margin-right: 5px;
  }

  .user-img {
    display: flex;
    align-items: center;
    margin: 5px;

    button {
      padding: 20px;
      margin-right: 50px;
      cursor: pointer;
    }
  }
}
