@use "@angular/material" as mat;
@use "./oss/variables" as vars;
@use "../themes/css/tokens";

@include mat.core();

// =========================================================
//                       Theme: Oss
// =========================================================
$primary-palette: _patch-missing-hues(
  (
    0: --md-ref-palette-primary0,
    10: --md-ref-palette-primary10,
    20: --md-ref-palette-primary20,
    25: --md-ref-palette-primary25,
    30: --md-ref-palette-primary30,
    35: --md-ref-palette-primary35,
    40: --md-ref-palette-primary40,
    50: --md-ref-palette-primary50,
    60: --md-ref-palette-primary60,
    70: --md-ref-palette-primary70,
    80: --md-ref-palette-primary80,
    90: --md-ref-palette-primary90,
    95: --md-ref-palette-primary95,
    98: --md-ref-palette-primary98,
    99: --md-ref-palette-primary99,
    100: --md-ref-palette-primary100,
    secondary: (
      0: #000000,
      10: #2c1512,
      20: #442925,
      25: #513430,
      30: #5d3f3b,
      35: #6a4b46,
      40: #775651,
      50: #926f69,
      60: #ae8882,
      70: #caa29c,
      80: #e7bdb6,
      90: #ffdad4,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #201a19,
      20: #362f2e,
      25: #413a38,
      30: #4d4544,
      35: #59504f,
      40: #655c5b,
      50: #7f7573,
      60: #998e8d,
      70: #b4a9a7,
      80: #d0c4c2,
      90: #ede0dd,
      95: #fbeeec,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral-variant: (
      0: #000000,
      10: #251917,
      20: #3b2d2b,
      25: #473836,
      30: #534341,
      35: #5f4f4c,
      40: #6c5a58,
      50: #857370,
      60: #a08c89,
      70: #bca7a3,
      80: #d8c2be,
      90: #f5ddda,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
  )
);

$secondary-palette: _patch-missing-hues(
  (
    0: --md-ref-palette-secondary0,
    10: --md-ref-palette-secondary10,
    20: --md-ref-palette-secondary20,
    25: --md-ref-palette-secondary25,
    30: --md-ref-palette-secondary30,
    35: --md-ref-palette-secondary35,
    40: --md-ref-palette-secondary40,
    50: --md-ref-palette-secondary50,
    60: --md-ref-palette-secondary60,
    70: --md-ref-palette-secondary70,
    80: --md-ref-palette-secondary80,
    90: --md-ref-palette-secondary90,
    95: --md-ref-palette-secondary95,
    98: --md-ref-palette-secondary98,
    99: --md-ref-palette-secondary99,
    100: --md-ref-palette-secondary100,
    secondary: (
      0: #000000,
      10: #2c1512,
      20: #442925,
      25: #513430,
      30: #5d3f3b,
      35: #6a4b46,
      40: #775651,
      50: #926f69,
      60: #ae8882,
      70: #caa29c,
      80: #e7bdb6,
      90: #ffdad4,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #201a19,
      20: #362f2e,
      25: #413a38,
      30: #4d4544,
      35: #59504f,
      40: #655c5b,
      50: #7f7573,
      60: #998e8d,
      70: #b4a9a7,
      80: #d0c4c2,
      90: #ede0dd,
      95: #fbeeec,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral-variant: (
      0: #000000,
      10: #251917,
      20: #3b2d2b,
      25: #473836,
      30: #534341,
      35: #5f4f4c,
      40: #6c5a58,
      50: #857370,
      60: #a08c89,
      70: #bca7a3,
      80: #d8c2be,
      90: #f5ddda,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
  )
);
$tertiary-palette: _patch-missing-hues(
  (
    0: --md-ref-palette-tertiary0,
    10: --md-ref-palette-tertiary10,
    20: --md-ref-palette-tertiary20,
    25: --md-ref-palette-tertiary25,
    30: --md-ref-palette-tertiary30,
    35: --md-ref-palette-tertiary35,
    40: --md-ref-palette-tertiary40,
    50: --md-ref-palette-tertiary50,
    60: --md-ref-palette-tertiary60,
    70: --md-ref-palette-tertiary70,
    80: --md-ref-palette-tertiary80,
    90: --md-ref-palette-tertiary90,
    95: --md-ref-palette-tertiary95,
    98: --md-ref-palette-tertiary98,
    99: --md-ref-palette-tertiary99,
    100: --md-ref-palette-tertiary100,
    secondary: (
      0: #000000,
      10: #2c1512,
      20: #442925,
      25: #513430,
      30: #5d3f3b,
      35: #6a4b46,
      40: #775651,
      50: #926f69,
      60: #ae8882,
      70: #caa29c,
      80: #e7bdb6,
      90: #ffdad4,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #201a19,
      20: #362f2e,
      25: #413a38,
      30: #4d4544,
      35: #59504f,
      40: #655c5b,
      50: #7f7573,
      60: #998e8d,
      70: #b4a9a7,
      80: #d0c4c2,
      90: #ede0dd,
      95: #fbeeec,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
    neutral-variant: (
      0: #000000,
      10: #251917,
      20: #3b2d2b,
      25: #473836,
      30: #534341,
      35: #5f4f4c,
      40: #6c5a58,
      50: #857370,
      60: #a08c89,
      70: #bca7a3,
      80: #d8c2be,
      90: #f5ddda,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #ffffff,
    ),
  )
);

$mat-primary: (
  main: vars.$red-color,
  lighter: vars.$light-red-color,
  darker: vars.$dark-red-color,
  50: #fae8e7,
  100: #f2c5c4,
  200: #ea9f9d,
  300: #e17975,
  400: vars.$light-red-color,
  500: vars.$red-color,
  600: #cf3934,
  700: #c9312c,
  800: #c32925,
  900: #b91b18,
  A100: #ffeded,
  A200: #ffbbba,
  A400: #ff8987,
  A700: #ff6f6e,
  contrast: (
    main: vars.$light-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color,
    50: vars.$dark-primary-text-color,
    100: vars.$dark-primary-text-color,
    200: vars.$dark-primary-text-color,
    300: vars.$dark-primary-text-color,
    400: vars.$dark-primary-text-color,
    500: vars.$light-primary-text-color,
    600: vars.$light-primary-text-color,
    700: vars.$light-primary-text-color,
    800: vars.$light-primary-text-color,
    900: vars.$light-primary-text-color,
    A100: vars.$dark-primary-text-color,
    A200: vars.$light-primary-text-color,
    A400: vars.$light-primary-text-color,
    A700: vars.$light-primary-text-color,
  ),
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-secondary: (
  main: vars.$gray-color,
  lighter: vars.$light-gray-color,
  darker: vars.$dark-gray-color,
  50: #f7f7f7,
  100: #ececec,
  200: #e0e0e0,
  300: #d3d3d3,
  400: #c9c9c9,
  500: #c0c0c0,
  600: #bababa,
  700: #b2b2b2,
  800: #aaaaaa,
  900: #9c9c9c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffdbdb,
  A700: #ffc2c2,
  contrast: (
    main: vars.$dark-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color
      // Text color on the darker background color,,,
  ),
);
$theme-secondary: mat.define-palette($mat-secondary, main, lighter, darker);

$mat-accent: (
  main: vars.$red-color,
  lighter: vars.$light-red-color,
  darker: vars.$dark-red-color,
  200: vars.$red-color,
  contrast: (
    main: vars.$light-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color,
  ),
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: vars.$red-color,
  lighter: #ffb3b3,
  darker: vars.$red-color,
  200: vars.$red-color,
  contrast: (
    main: vars.$light-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color,
  ),
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

// ======================================
//             Typography
// ======================================

// +------------------+----------------+
// | Typography level | Native element |
// +------------------+----------------+
// | headline-5       | <h1>           |
// +------------------+----------------+
// | headline-6       | <h2>           |
// +------------------+----------------+
// | subtitle-1       | <h3>           |
// +------------------+----------------+
// | body-1           | <h4>           |
// +------------------+----------------+
// | body-2           | Body text      |
// +------------------+----------------+

$oss-typography: mat.define-typography-config(
  $font-family: vars.$default-font-family,
  $headline-5:
    mat.define-typography-level(
      $font-size: 24px,
      $font-weight: 600,
    ),
  $headline-6:
    mat.define-typography-level(
      $font-size: 20px,
      $font-weight: 600,
    ),
  $subtitle-1:
    mat.define-typography-level(
      $font-size: 18px,
      $font-weight: 600,
    ),
  $body-1:
    mat.define-typography-level(
      $font-size: 16px,
      $font-weight: 400,
    ),
  $body-2:
    mat.define-typography-level(
      $font-size: vars.$font-size-m,
    ),
);

@include mat.all-component-typographies($oss-typography);

$oss-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-secondary,
      warn: $theme-warn,
    ),
    menu: (
      background: white,
    ),
    button: (
      accent: (
        color: white,
      ),
    ),
    typography: $oss-typography,
    density: -3,
  )
);

@include mat.all-component-themes($oss-theme);

$primary-color: map-get($oss-theme, color, primary, main) !default;
$accent-color: map-get($oss-theme, color, accent, darker) !default;

// ======================================
//            All components
// ======================================

.density-xl {
  @include mat.all-component-densities(0);
}

.density-l {
  @include mat.all-component-densities(-1);
}

.density-m {
  @include mat.all-component-densities(-2);
}

// ======================================
//              Buttons density
// ======================================

// Default button density
@include mat.button-density(-1);

// ======================================
//           Form field density
// ======================================

// Default form field density (-5 is the smallest)
@include mat.form-field-density(-5);

.field-density-m {
  @include mat.form-field-density(-4);
}

.field-density-l {
  @include mat.form-field-density(-3);
}

// ======================================
//                Tables
// ======================================

.table-density-xl {
  @include mat.table-density(0);
}

.table-density-l {
  @include mat.table-density(-1);
}

.table-density-m {
  @include mat.table-density(-2);
}
