@use '@angular/material' as mat;
@use './oss/variables' as vars;
@include mat.core();



// =========================================================
//                       Theme: Oss
// =========================================================

$mat-primary: (
  main: vars.$red-color,
  lighter: vars.$light-red-color,
  darker: vars.$dark-red-color,
  50: #fae8e7,
  100: #f2c5c4,
  200: #ea9f9d,
  300: #e17975,
  400: vars.$light-red-color,
  500: vars.$red-color,
  600: #cf3934,
  700: #c9312c,
  800: #c32925,
  900: #b91b18,
  A100: #ffeded,
  A200: #ffbbba,
  A400: #ff8987,
  A700: #ff6f6e,
  contrast: (
    main: vars.$light-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color,
    50: vars.$dark-primary-text-color,
    100: vars.$dark-primary-text-color,
    200: vars.$dark-primary-text-color,
    300: vars.$dark-primary-text-color,
    400: vars.$dark-primary-text-color,
    500: vars.$light-primary-text-color,
    600: vars.$light-primary-text-color,
    700: vars.$light-primary-text-color,
    800: vars.$light-primary-text-color,
    900: vars.$light-primary-text-color,
    A100: vars.$dark-primary-text-color,
    A200: vars.$light-primary-text-color,
    A400: vars.$light-primary-text-color,
    A700: vars.$light-primary-text-color,
  ),
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-secondary: (
  main: vars.$gray-color,
  lighter: vars.$light-gray-color,
  darker: vars.$dark-gray-color,
  50: #f7f7f7,
  100: #ececec,
  200: #e0e0e0,
  300: #d3d3d3,
  400: #c9c9c9,
  500: #c0c0c0,
  600: #bababa,
  700: #b2b2b2,
  800: #aaaaaa,
  900: #9c9c9c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffdbdb,
  A700: #ffc2c2,
  contrast: (
    main: vars.$dark-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color
      // Text color on the darker background color,,
  ),
);
$theme-secondary: mat.define-palette($mat-secondary, main, lighter, darker);

$mat-accent: (
  main: vars.$red-color,
  lighter: vars.$light-red-color,
  darker: vars.$dark-red-color,
  200: vars.$red-color,
  contrast: (
    main: vars.$light-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color,
  ),
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: vars.$red-color,
  lighter: #ffb3b3,
  darker: vars.$red-color,
  200: vars.$red-color,
  contrast: (
    main: vars.$light-primary-text-color,
    lighter: vars.$dark-primary-text-color,
    darker: vars.$light-primary-text-color,
  ),
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

// ======================================
//             Typography
// ======================================

// +------------------+----------------+
// | Typography level | Native element |
// +------------------+----------------+
// | headline-5       | <h1>           |
// +------------------+----------------+
// | headline-6       | <h2>           |
// +------------------+----------------+
// | subtitle-1       | <h3>           |
// +------------------+----------------+
// | body-1           | <h4>           |
// +------------------+----------------+
// | body-2           | Body text      |
// +------------------+----------------+

$oss-typography: mat.define-typography-config(
  $font-family: vars.$default-font-family,
  $headline-5:
    mat.define-typography-level(
      $font-size: 24px,
      $font-weight: 600,
    ),
  $headline-6:
    mat.define-typography-level(
      $font-size: 20px,
      $font-weight: 600,
    ),
  $subtitle-1:
    mat.define-typography-level(
      $font-size: 18px,
      $font-weight: 600,
    ),
  $body-1:
    mat.define-typography-level(
      $font-size: 16px,
      $font-weight: 400,
    ),
  $body-2:
    mat.define-typography-level(
      $font-size: vars.$font-size-m,
    ),
);

@include mat.all-component-typographies($oss-typography);

$oss-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-secondary,
      warn: $theme-warn,
    ),
    menu: (
      background: white,
    ),
    button: (
      accent: (
        color: white,
      ),
    ),
    typography: $oss-typography,
    density: -3,
  )
);

@include mat.all-component-themes($oss-theme);

$primary-color: map-get($oss-theme, color, primary, main) !default;
$accent-color: map-get($oss-theme, color, accent, darker) !default;



// ======================================
//            All components
// ======================================

.density-xl {
  @include mat.all-component-densities(0);
}

.density-l {
  @include mat.all-component-densities(-1);
}

.density-m {
  @include mat.all-component-densities(-2);
}

// ======================================
//              Buttons density
// ======================================

// Default button density
@include mat.button-density(-1);

// ======================================
//           Form field density
// ======================================

// Default form field density (-5 is the smallest)
@include mat.form-field-density(-5);

.field-density-m {
  @include mat.form-field-density(-4);
}

.field-density-l {
  @include mat.form-field-density(-3);
}

// ======================================
//                Tables
// ======================================

.table-density-xl {
  @include mat.table-density(0);
}

.table-density-l {
  @include mat.table-density(-1);
}

.table-density-m {
  @include mat.table-density(-2);
}

