@use "@material/theme" with (
  $primary: #b4280c,
  $secondary: #feeae6,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
);
@use "@material/button/mdc-button";

@use "@material/card";
@use "@material/card/mdc-card";

#reviews-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  app-review-item {
    margin: 10px;
  }
}

#review-item {
  .card {
    max-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 1.5px solid rgb(146, 21, 21);
    border-radius: 10px;

    &:hover {
      box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.219);
    }
  }
  .album1 {
    background-image: url("http://assets-app.localhost/assets/imgs/soenalbum1.jpg");
  }
  .album2 {
    background-image: url("http://assets-app.localhost/assets/imgs/soenalbum2.jpg");
  }

  .my-card-content {
    padding: 16px;
  }
}

