#shell-section {
  app-wrapper {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100%;
    width: 100%;

    .content {
      padding: 15px;
      width: 100%;
    }
  }
}

