#sidebar-section {
  height: 100%;

  #drawer {
    border-right: 1px solid rgb(56, 102, 187);
    width: 200px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;


  }

  .active {
    background-color: rgb(56, 102, 187);
  }
}
