@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "./mypalette" as myp;
@use "./oss-theme.scss" as oss;
@use "./oss-theme-m3.scss" as oss3;
@use "@material/shape";

@include mat.core();




$theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: oss3$primary-palette,
      secondary: oss3.$secondary-palette
      tertiary: oss3$tertiary-palette,
    ),
    typography: (
      brand-family: "Comic Sans",
      bold-weight: 900,
    ),
  )
);

:root {
    button, a {

    margin: 5px;
    border-radius: 5px !important;
  }
}

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(myp.$m2m-palette-primary),
      accent: mat.define-palette(myp.$m2m-palette-secodanry),
    ),
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);



.oss-theme {
  @include mat.all-component-themes(oss.$oss-theme);
}

.dark-theme {
  @include mat.all-component-themes($theme);

}

.light-theme {
  @include mat.all-component-themes($light-theme);
}

