<mat-toolbar class="main-back-color-class">
    <div *ngIf="isAuthenticated"   class="container-fluid">
      <span class="main-font-color-class">
        <a routerLink="/router"  class="header-title">AUTHENTICATOR</a>
      </span>
    </div>
    <div *ngIf="!isAuthenticated"   class="container-fluid">
      <span class="main-font-color-class">
        <a routerLink="/login"  class="header-title">AUTHENTICATOR</a>
      </span>
    </div>

  </mat-toolbar>
  