// ======================================
//              Colors
// ======================================

$white-color: #ffffff;
$black-color: #000000;

$light-gray-color: #f4f4f4;
$gray-color: #c0c0c0;
$dark-gray-color: #707070;

$light-red-color: #da5c58;
$red-color: #d43f3a;
$dark-red-color: #900;
$light-green-color: #84cc5b;
$green-color: #6fa437;
$yellow-color: #fec350;
$light-purple-color: #9344ff;
$purple-color: #8a1f8e;
$darker-purple-color: #611664;
$dark-purple-color: #5e00c2;
$orange-color: #f76318;
$light-orange-color: #c45453;
$blue-color: #198287;
$dark-blue-color: #11595c;

$input-border-color: #ccc;

// ======================================
//              Fonts
// ======================================

$default-font-family: OssFont;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-ml: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;

$dark-primary-text-color: $black-color;
$light-primary-text-color: $white-color;

// ======================================
//             Spacings
// ======================================

$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-sm: 15px;
$spacing-m: 20px;
$spacing-ml: 25px;
$spacing-l: 30px;
$spacing-xl: 35px;
$spacing-2xl: 40px;

// ======================================
//             Tables
// ======================================

$table-font-size-xs: $font-size-xs;
$table-font-size-s: $font-size-s;
$table-font-size-m: $font-size-m;
$table-font-size-l: $font-size-ml;

$table-header-size-xs: 20px;
$table-header-size-s: 30px;
$table-header-size-m: 40px;

$table-header-bg-color: $dark-gray-color;
$table-header-bg-light-color: $light-gray-color;
$table-header-text-color: $white-color;

// ======================================
//             Borders
// ======================================

$border-bottom-size: 1px solid #dddada;

// ======================================
//             Forms
// ======================================

$form-field-width-m: 250px;
