//styles.scss

/* @use '../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@use '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@use '../../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css'; */
// @use '../../../node_modules/@angular/material/prebuilt-themes/purple-green.css';

/*
@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$teal-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$purple-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.core-theme($my-theme);

@include mat.all-component-themes($my-theme);



 */
