#auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
#auth form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
/*# sourceMappingURL=src/assets/css/auth.css.map */
