#profile-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 50%;
}
#profile-section .text {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*# sourceMappingURL=src/assets/css/profile.css.map */
