#shell-section app-wrapper {
  width: 100%;
}
#shell-section .container {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 100%;
  width: 100%;
}
#shell-section .container .content {
  padding: 15px;
  width: 100%;
}
/*# sourceMappingURL=src/assets/css/shell.css.map */
