#sidebar-section {
  height: 100%;
}
#sidebar-section #drawer {
  border-right: 1px solid rgb(56, 102, 187);
  width: 200px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#sidebar-section .active {
  background-color: rgb(56, 102, 187);
}
/*# sourceMappingURL=src/assets/css/sidebar.css.map */
