.form-size {
  min-width: 400px;
  max-width: 600px;
  width: 100%;
}

.form-full-width {
  width: 100%;
  margin-bottom: 3%;
}

.old-value,
.new-value {
  font-weight: bold;
}
.old-value {
  color: #b03a2e;
}

.new-value {
  color: #1e8449;
}
