<div mat-dialog-content>
  <h2>
    ⚠️This RF already exists!
  </h2>
  <strong>System: </strong>{{ data.oldData.system }}
  <br />
  <strong>Resource: </strong>{{ data.oldData.resource }}
  <br />
  <strong>Value: </strong>
  <span class="old-value">
    {{
      data.oldData.value.length > 300
        ? data.oldData.value.substring(0, 100) + ' (...)'
        : data.oldData.value
    }}
  </span>
  →
  <span class="new-value">
    {{
      data.newValue.length > 300
        ? data.newValue.substring(0, 100) + ' (...)'
        : data.newValue
    }}
  </span>
  <h3>Replace existing value?</h3>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()">
    <mat-icon>clear</mat-icon> Cancel
  </button>
  <button mat-raised-button color="primary" (click)="replace()">
    <mat-icon>check</mat-icon> Replace
  </button>
</div>
